* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none; 
}

:root {
  --index: calc(1vw + 1vh);
  --text: #e7e7e0;
}

@font-face {
  font-family: raleway_f;
  src: url(../public/fonts/raleway-regular.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(../public/fonts/raleway-black.woff2);
  font-weight: 900;
}

body {
  background-color: #010101;
  color: #fff;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
  will-change: transform;
}

*::selection {
  background-color: rgba(128, 128, 128, 0.189);
}